page-tag-detail {

    .coluna{
        height: 80px;
    }

   
 .itens h3 {

        display: inline-block;
        margin: auto;
         vertical-align:-30%;
         margin-right: 20px;
        color: gray
      
    }


      .itens button{
        width: 80%;
        
    }

}
