page-add {

    h3{
            color: #387ef5;

    }

    .input-ios .text-input{
        padding: 0;
    }

  .item-ios.item-block .item-inner{
      padding: 0;
  }

    .itens h3 {

        display: inline-block;
        margin: auto;
         vertical-align:-30%;
         margin-right: 20px;
        color: #387ef5;
      
    }


    .itens  h2 {

         display: inline-block;
        margin: auto;
         vertical-align:-30%;
       

    }
 
      .itens button{
        width: 60%;
        
    }

  
}
